<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dj ango jest super</title>
    <style type="text/css">
        .listItem {
            font-style:italic;
            font-weight:bold;
        }
    </style>
</head>
<body>

    {% if request.user.is_authenticated %}
    <h1>Kapo: {{ request.user }}</h1> <button onclick="window.location.href='/logout'"> Wyloguj</button>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}


    <h2>Lista pracowników</h2>

    <button onclick="window.location.href='/person-create'">Dodaj nowego pracownika</button>

    <ul>
        {% for person in person_list.person_set.all %}
            <li><h3 class="listItem"><a href="{% url 'persondetail' person.id %}">{{ person.name }}</a></h3>
            <button onclick="window.location.href='{% url 'personupdate' person.id %}'">Edytuj dane o pracowniku</button>
            <button onclick="window.location.href='/person-delete/pk={{ person.id }}' " >Usuń pracownika</button>
            </li>
        {% endfor %}
    </ul>

    <br>


</body>
</html>