<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie pracownika</title>
    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<header>
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
            {% if request.user.is_authenticated %}
			<h1>Manager: {{ request.user }}</h1>
			{% else %}
				<a href="{% url 'login' %}">Login</a>
			{% endif %}

      <ul class="navbar-nav ms-auto d-flex flex-row">
          <button onclick="window.location.href='/'" type="button"  class="btn btn-primary" style="float: right;"> Powrót do listy pracowników</button>
          <button onclick="window.location.href='/logout'"  type="button"  class="btn btn-primary" style="float: right;"> Wyloguj</button>
      </ul>
    </div>
  </nav>
</header>

<main style="margin-top: 58px">
  <div class="container pt-4">
     <form method="post" action="">
        {% csrf_token %}
        <p> Podaj imię i nazwisko pracownika: </p>
        <input type="textbox" name="name">
        <button type="submit" name="save">Dodaj</button>
    </form>
  </div>
</main>
</html>