<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj</title>
</head>
<body>

    {% for message in messages %}
        <p style="color:green;">{{ message }}</p>
        {% if message is success %}
            <p>True</p>
        {% else %}
            <p>False</p>
        {% endif %}
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="signin">Zaloguj</button>
    </form>

    <a href="{% url 'signup' %}">Create account here</a>

</body>
</html>